/server/sistema/.dados/.htaccess
/server/sistema/.dados/salas.json
/server/sistema/.dados/ssl.json
/server/sistema/.dados/*_log.txt
/server/sistema/.dados/*_override.json
/server/sistema/.dados/*_estrutura.json
/server/vendor